#body {
    padding:20px;
}

.leaveDivs {
    padding:10px;
    border-left:1px solid #dfdfdf;
     border-right:1px solid #dfdfdf;
      border-bottom:1px solid #dfdfdf;
}


.tableSick thead {
    background-color:#fcf8e3;
    font-weight:bold;
}

.tableSick tbody {
    text-align:center;
    border-bottom:1px solid #dfdfdf;
}

.tableSick tfoot {
    size:15px;
    color:green;
    font-weight:bold;
}


/* Vacation */
.tableVacation {
    width:100%;
}

.tableVacation thead {
    background-color:#fcf8e3;
    font-weight:bold;
}

.tableVacation tbody {
    text-align:center;
    border-bottom:1px solid #dfdfdf;
}


/* Other */

.reasonRow {
    border-top:1px solid #dfdfdf;
}
.tableOther {
    width:100%;
}

.tableOther thead {
    background-color:#fcf8e3;
    font-weight:bold;
}

.tableOther tbody {
    border-bottom:1px solid #dfdfdf;
}
